{% extends 'layout.twig' %}
{% block content %}
    <div class="blog-post">
        <p>
            <a class="btn btn-default" href="{{ '/' | url }}">Back</a>
        </p>
        {% for blogPost in blogPosts %}
        <h2>{{ blogPost.title }}</h2>
        <p>Jan 1,2020 by <a href="">Alex</a></p>
        {% if blogPost.img_url %}
            <div class="blog-post-image">
                <img src="{{ blogPost.img_url }}" width="450px" height="150px">
            </div>
        {% endif %}
        <div class="blog-post-content">
            {{ blogPost.content }}
        </div>
        {% endfor %}
    </div>
{% endblock %}